@import "grid-settings";
@import "neat/neat";

div.container {
  @include outer-container;
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
  background: #00ccff;

  div.hero {
    @include span-columns(12);
    font-size: 4em;
  }

  div.halfcol {
    @include span-columns(6);
  }
}
